body {
	overflow: hidden;
}
body * {
	border-radius: 0px !important;
}
#titlearea {
	border: none;
}
#titlearea > table {
	width: 100%;
}
#projectalign {
	padding-left: 0px;
}
#projectname {
	padding: 0px;
}
#projectnumber {
	font-family: "Segoe UI Light", 'Source Sans Pro', sans-serif;
}
#projectlogo img {
	height: 64px;
	width : auto;
}
#projectbrief {
	float        : right;
	width        : 720px;
	padding      : 0px;
	padding-right: 24px !important;
}
#projectname {
	padding: 0px;
}
.title {
	font-family: inherit;
	font-size: 1.9rem;
}
#top {
	padding      : 12px 24px;
	border-bottom: 1px solid #5373B4;
}
.memtitle {
  	width           : calc(100% - 16px);
	background-image: none;
}
#doc-content {
	border-left: 1px #5373b4 solid;
	margin-left: 360px !important;
}
#main-nav {
	display: none;
}
#nav-tree .item {
	padding-left: 12px;
}
#nav-sync {
	display: none !important;
}
#side-nav .ui-resizable-e {
	visibility: hidden;
}
#side-nav a, #side-nav .arrow {
	vertical-align: middle;
	color         : #111;
}
#side-nav .selected {
	background-color: #f0f4f8;
}
#side-nav .selected a {
	color: #000;
}
#nav-tree .item:hover {
	background-color: #f0f4f8;
}
.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
	padding-bottom: 4px;
	padding-top   : 4px;
}
code {
	background-color: #f8f8f8;
}
.section.warning {
	background-color: #ffbaba;
}
dl.todo {
	border-left : 6px solid;
	border-color: #00ac0d;
}
::-webkit-scrollbar {
	width : 12px !important;
	height: 12px !important;
}
::-webkit-scrollbar-thumb {
	background-color: #ddd !important;
	border          : 0px solid #000! important;
	border-radius   : 0px !important;
}
::-webkit-scrollbar-track {
	background-color: transparent !important;
}
::-webkit-scrollbar-thumb:hover {
	background: #eee !important;
}
::-webkit-scrollbar-thumb:active {
	background: #eee !important;
}
::-webkit-scrollbar-corner {
	background: #ddd !important;
}
